<div id="pics_list-view" data-role="view" data-show="pics_list.show" data-title="Text" data-layout="main-layout" data-reload="true">
    <div data-role="header">
        <div data-role="navbar">
            <a data-role="backbutton" data-align="left">Назад</a>
            <a data-click="pics_list.refresh" data-role="button" data-align="right" data-icon="refresh"></a>
            <a data-click="pics_list.addImage" data-role="button" data-align="right" data-icon="camera"></a>
            <a data-click="pics_list.addImage2" data-role="button" data-align="right" data-icon="add"></a>
        </div>
        <span id="pics_list-card-container">
        </span>
    </div>
    <ul id="pics_list-view-data" data-role="listview"></ul>
    <div data-role="footer">
        <span id="upload-status"></span>
    </div>>
</div>